// Slider 

.slider {
    height: 100vh; 
}

.slider-img {
    object-fit: cover; 
    height: 100vh;
    width: 100%;
}

.slider-church {
    @extend .slider-img;
}

.slider-wine{
    @extend .slider-img;
    filter: brightness(80%);
}

.slider-caption { // todo  
    right: 8px; 
}

.carousel-title-main {
    padding-bottom: 20px;
    position: relative;
    
    &::after {
        content: '';
        position: absolute;
        background-color: white;
        width: 74px;
        height: 2px;
        top: 100%;
        right:0;
    }
}

// Indicators

.indicators-bg {
    background-color: #232323;
}

.indicator {
    margin-bottom: 10px;
    border-radius: 80%;
}

.carousel-indicators-custom {
    position: unset;
    display: block;
}

// Media Queries

@include media-breakpoint-up(xl) { 
    .slider-caption {  
        top: 0;  
    }
}

// Other

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}