.slider {
    height: 100vh; 
}

.slider-img {
    object-fit: cover; 
    height: 100vh;
    width: 100%;
}

.slider-church {
    @extend .slider-img;
}

.slider-wine{
    @extend .slider-img;
    filter: brightness(80%);
}

.slider-caption {
    position: absolute;
    right: 8px;
    bottom: 0px; 
    color: #fff; 
} 

.slider-pseudo-element:after {
    content: '';
    width: 10%;
    border-bottom: solid 1px #fff;
    position: absolute;
    right: 0;       
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    &:hover{
        background-color: #A58A55; 
    }
} 

.carousel-controls{
    background-color: #232323;
}

@include media-breakpoint-up(xl) { 
    .slider-caption {
        position: absolute;
        right: 8px;
        top: 0px; 
        color: #fff; 
    }
}

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}