/* History */
.history-bg { 
    background: url("../../../dist/assets/img/Slider1.jpg") top 100px center no-repeat; 
}

.history-info {
    margin-top: 100px;
    .history-title {
        font-size: 28px;
    }
}

@include media-breakpoint-up(xl) {
    .history-details {
        overflow: auto;
        height: 600px;
        min-height: 600px;
        max-height: 50%;
    }
}