.slider {
    height: 100vh;  
    border: 1px solid #707070; 
}

.slider-img {
    object-fit: cover; 
    height: 100vh;
    width: 100%;
}

.slider-church {
    @extend .slider-img;
}

.slider-wine{
    @extend .slider-img;
    filter: brightness(80%);
}

.slider-caption {
    font-size: 16px;
    line-height: 1;
    right: 8px; 
}

.carousel-title-main {
    font-size: 40px;
    padding-bottom: 11px; 
    margin-bottom: 11px; 
    position: relative;
    
    &::after {
        content: '';
        position: absolute;
        background-color: white;
        width: 74px;
        height: 2px;
        top: 100%;
        right:0;
    }
}

// Indicators

.indicator {
    margin-bottom: 10px;
    border-radius: 80%;
}

.carousel-indicators-custom { 
    flex-flow: column;
    width: 50px;
    top:0;
    padding: 5px;
    left: auto; 
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

// Media Queries

@include media-breakpoint-up(xl) { 
    .slider-caption {
        font-size: 24px;  
        top: 0;  
    }
    .carousel-title-main {
        font-size: 75px;
        padding-bottom: 50px;
        margin-bottom: 50px; 
    }

    .carousel-main {
        padding-right: 50px;
    }
}

// Other

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right { 
        transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right { 
        transform: translate3d(0, 100%, 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left { 
        transform: translate3d(0, -100%, 0);
}