/* Wines list view*/
.waves-bg{
    background-image: url("../../../dist/assets/img/bg_waves.png");
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100vh;
} 

.first_wine{
    background-color: #C5BEAB;
    height: 100vh; 
}
.second_wine{
    background-color: #EEEDE8;
    height: 100vh;
}
.third_wine{
    background-color: #BEA1A5;
    height: 100vh;
} 

.wine-text-1{
    color: black;
    font-size: 20px;
}

.wine-text-2{
    color: black;
    font-size: 12px;
}

/* Wine view */
.grapes_bg{
    background-image: url("../../../dist/assets/img/grapes.png");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: left -300px top 200px;
    height: 100vh;
}

.wine-info {
    height:70vh;
    a {
        color: black;
      }
    .wine-img {
        height: 100vh; 
    }
    .wine-title {
        font-size: 24px;
    }
    .wine-details {
        font-size: 12px;
    }
    .wine-description {
        color:black;
    } 
    .wine-analysis {
        overflow-y: auto;
        height:50%;
    }
}

/* History */
.history_bg{
    background-image: url("../../../dist/assets/img/Slider1.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: left -300px top 100px;
    height: 100vh;
}

.history-section{
    
    .history-title{
        font-size: 28px;
    }
    .history-text{
        overflow-y: auto;
        height:60vh;
        font-size: 12px;
    }
}

/* Responsiveness */
@media (max-width:768px) {  

    .history_bg{
        background-position: top;
        height: 80vh;
    }
    
    .history-section { 
        .history-text{
            overflow-y: unset;
            height:100%;
        }
    }

    .grapes_bg { 
        background-position: left -300px;
        height: 80vh;
    }

    .wine-info {  
        .wine-analysis { 
            overflow-y: unset;
            height:100%;
        }
    }
}

@media  (max-width: 1200px) and (min-width:768px) {
    .main-text-mobile{
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .main-text-1 {
        line-height: 1;
        font-size: 60px;
    }

    .main-text-2 {
        font-size: 24px;
    }

    .history_bg{
        background-position: top;
        height: 80vh;
    }
    .history-section { 
        .history-text{
            overflow-y: unset;
            height:100%;
        }
    }

    .grapes_bg { 
        background-position: left -800px;
        height: 80vh;
    }
    .wine-info {  
        .wine-analysis { 
            overflow-y: unset;
            height:100%;
        }
    }
}