$grid-gutter-width: 2rem;

$font-family-sans-serif: "Roboto", "Noto Sans", sans-serif;
$font-size-base: 0.875rem; 

$body-color: #606060;
$text-muted: #707070;

$theme-colors: (
  "primary": #A58A55,
  "secondary": #606060
);