.waves-bg{
    background: url("../../../dist/assets/img/bg_waves.png") cover no-repeat;
} 

.grapes_bg{
    height: 100vh;
    background: url("../../../dist/assets/img/grapes.png") left -300px top 200px / cover no-repeat; 
}
 
.img-bottle{
    height: 100%;
}

.wine-info {  
    a {
        color: black;
    } 
    .wine-title {
        font-size: 24px;
    }
    .wine-details {
        font-size: 12px;
    }
} 

// @include media-breakpoint-down(sm) {
//     .grapes_bg { 
//         background-position: left -300px;
//         height: 80vh;
//     }

//     .wine-info {  
//         .wine-analysis { 
//             overflow-y: unset;
//             height:100%;
//         }
//     }
// }

// //@include media-breakpoint-between(md, xl)
// @media  (min-width:768px) and (max-width: 1199px) {

//     .grapes_bg { 
//         background-position: left -800px;
//         height: 80vh;
//     }
//     .wine-info {  
//         .wine-analysis { 
//             overflow-y: unset;
//             height:100%;
//         }
//     }
// }