.nav-mobile {
    background-color: theme-color("secondary");
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 1040;
    width: 100vw;
}

.wine-col {
    height: 100vh;

    a {
        text-decoration: none;
    }
}

.first-col {
    @extend .wine-col;
    background-color: #C5BEAB;  
}

.second-col {
    @extend .wine-col;
    background-color: #BEA1A5;  
}

.third-col {
    @extend .wine-col;
    background-color: #EEEDE8; 
} 

.wine-cont {
    height: calc(100vh - 100px);
}

.wine-img { 
    height:100%; 
}

.wine-caption {
    height: 100px;
    color: theme-color("secondary");
    white-space: nowrap;
    font-size: 20px;
    div { 
        font-size: 14px;
    }
}
 
@include media-breakpoint-down(lg) {
    .wine-col {
        height: calc(100vh - 150px);
    }

    .wine-cont{
        height: calc(100vh - 250px); // -.- 100 from bottom-text + 150 from prev 
    }

    .first-col {
        margin-top: 100px;
    }

}
