.wine-col {
    height: 100vh;

    a {
        text-decoration: none;
    }
}
.first-col {
    @extend .wine-col;
    background-color: #C5BEAB;  
}

.second-col {
    @extend .wine-col;
    background-color: #EEEDE8;  
}

.third-col {
    @extend .wine-col;
    background-color: #BEA1A5; 
} 

.wine-img {
    height: calc(100% - 100px); 
    width: 100%;
    padding: 30px;
    object-fit: contain;
}

.wine-caption {
    height: 100px;
    color: black;
    white-space: nowrap;
    font-size: 20px;
    
    div {
        color: black;
        font-size: 12px;
    }
}
 

