.first-wine{
    background-color: #C5BEAB;
    height: 100vh; 
}

.second-wine{
    background-color: #EEEDE8;
    height: 100vh;
}

.third-wine{
    background-color: #BEA1A5;
    height: 100vh;
} 

.caption-1{
    color: black;
    font-size: 20px;
}

.caption-2{
    color: black;
    font-size: 12px;
}

.product-img {
    .img-fluid{
        height: 100%;
    }
}