
.menu { 
    background-color: #232323; 
    background-size: cover;
    background-repeat: no-repeat;  
    height: 100vh;
}
.menu-bg { 
    background-image: url("../../../dist/assets/img/bg_1.png") ;
    background-size: contain;
    background-repeat: no-repeat; 
    height:50vh;
}

.main {
    background-image: url("../../../dist/assets/img/Slider1.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100vh;
}

$grid-gutter-width: 2rem;

$font-family-sans-serif: Roboto, "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-size-base: 0.875rem !default; 

$body-color: #232323 !default;
$text-muted: #707070 !default;

$theme-colors: (
  "primary": #A58A55,
  "secondary": #232323
);
 
@import "../../node_modules/bootstrap/scss/bootstrap";